.btn{
    color: blue;
  background-color: rgb(223, 26, 26);
  border-radius: 8px;

    
}
.naveen{
    color: lightblue;
    text-align: center;
}
.form{
    text-align : 'center';
    background-color : "lightblue";
    border-radius:'10px';
    padding:"20px";
    width: '10cm';
    height:'13cm';
    justify-content: center;
}
.content{
    padding:'10px';
    justify-content: center;
}