#skill{
    width: 160px;
    height: 160px;
    position: relative;
}
.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding:20px;
    box-shadow: 6px 6px 10px -10px rgba(0,0,0,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7)
}  
.inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
}
#number{
    font-weight: 600px;
    color: #555;
}
#circle1{
    fill:none;
    stroke:url(#yellow);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim1 10S linear forwards;
}
#circle2{
    fill:none;
    stroke:url(#green);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim2 9S linear forwards;
}
#circle3{
    fill:none;
    stroke:url(#lightblue);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim3 9S linear forwards;
}
#circle4{
    fill:none;
    stroke:url(#orange);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim4 10S linear forwards;
}
svg{
    position: absolute;
    top: 0;
    left: 12px;
}

@keyframes anim1{
    100%{
        stroke-dashoffset: 210;
    }
}
@keyframes anim2{
    100%{
        stroke-dashoffset: 145;
    }
}
@keyframes anim3{
    100%{
        stroke-dashoffset: 145;
    }
}
@keyframes anim4{
    100%{
        stroke-dashoffset: 210;
    }
}
#heading{
    margin-top:5px;
    text-align: center;
    color: black;
    font-size: medium;
}